<p-dialog [header]="state === 'create' ? 'Versiya qo\'shish' : 'Versiyani o\'zgartirish'"
          [visible]="opened()"
          (visibleChange)="opened.set($event)"
          [modal]="true"
          [style]="{ width: '50vw' }" [draggable]="false"
          [resizable]="false">

    <form [formGroup]="form">

        <div class="flex flex-col gap-2">
            <label for="map-version">Versiya</label>
            <input pInputText id="map-version" formControlName="version"/>
        </div>

        <div class="flex flex-col gap-2 mt-2">
            <label for="map-cost">Summa</label>
            <p-inputNumber
                inputId="map-cost"
                mode='decimal'
                [minFractionDigits]="0" [maxFractionDigits]="0"
                [min]="0"
                locale="ru"
                formControlName="cost"/>
        </div>

        <div class="flex flex-col gap-2 mt-2">
            <label for="map-description">Izoh</label>
            <textarea pInputTextarea rows="2" id="map-description"
                      formControlName="description"></textarea>
        </div>

        <div class="flex flex-col gap-2 mt-2">
            <label for="map-description">Joriy</label>
            <p-inputSwitch formControlName="actual" [trueValue]="true" [falseValue]="false"></p-inputSwitch>
        </div>

        <div class="mt-3 text-right">
            <p-button [label]="state === 'create' ? 'Qo\'shish' : 'O\'zgartirish'" (click)="submit()"></p-button>
        </div>
    </form>

</p-dialog>
