<div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
    <div class="p-3">
        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Qismlar</div>
    </div>
    <div class="overflow-x-auto mx-3 pb-3">

        <p-table #dt
                 [value]="units$ | async" dataKey="id"
                 class="table-bordered table-small"
                 [styleClass]="'p-datatable-sm'">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center"></th>
                    <th>Tip</th>
                    <th class="text-right">%</th>
                    <th class="text-right">Сумма</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-unit let-editing="editing" let-rowIndex="rowIndex">
                <tr>
                    <!-- Action Column-->
                    <td class="text-center">
                        <div class="flex">
                            <button mat-icon-button *ngIf="checkForChanged(unit)" (click)="save(unit)" color="warn"
                                    aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon>save</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="delete(unit)"
                                    aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>

                    <!-- Tip Column -->
                    <td [pEditableColumn]="unit.name" pEditableColumnField="seh_id"
                        [pEditableColumnRowIndex]="rowIndex">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <!--                        <select [(ngModel)]="unit.seh_id" matNativeControl>-->
                                <!--                            <option *ngFor="let seh of sehs" [value]="seh.id">-->
                                <!--                                {{seh.name}}-->
                                <!--                            </option>-->
                                <!--                        </select>-->
                                <p-dropdown
                                    [options]="tips"
                                    [ngModel]="unit.tip_id"
                                    (ngModelChange)="handleFieldChange(unit, $event)"
                                    BlockLateralArrowNavigation
                                    optionLabel="name"
                                    optionValue="id"
                                    [style]="{'width':'100%'}"
                                    class="small-input"
                                    scrollHeight="300px"
                                    [appendTo]="'body'"
                                />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <div style="cursor: pointer;">
                                    {{getTipName(unit.tip_id)}}
                                </div>
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Percent Column -->
                    <td class="text-right">
                        {{calcRowPercent(unit.id) / 100 | percent:'1.0-2'}}
                    </td>

                    <!-- Sum Column -->
                    <td class="text-right">
                        {{calcRowCost(unit.id) | currency:'UZS':'':'1.0-0' }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td class="text-center">
                        <button mat-icon-button color="primary" (click)="add()">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </td>
                    <td colspan=""></td>
                    <td class="text-right font-semibold"
                        [ngClass]="{'text-red-600' : Math.round((totalPercent$ | async)) > 100}">
                        {{(totalPercent$ | async) / 100 | percent:'1.0-2' }}
                    </td>
                    <td class="text-right font-semibold"
                        [ngClass]="{'text-red-600' : Math.round((totalCost$ | async)) > cost}">
                        {{(totalCost$ | async) | currency:'UZS':'':'1.0-0'}}
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>
