<div class="flex justify-end">
    <!--    <div class=""></div>-->
    <p-button (click)="showDialog()" label="Qo'shish"></p-button>
</div>

<!--Modal-->
<p-dialog header="Ishlab chiqarish qo'shish" [(visible)]="visible" [modal]="true" [style]="{ width: '80vw', height:'80vh' }"
          [draggable]="false" [resizable]="false">

    <!--  Filter  -->
    <label class="block"> Un. Nomer</label>
    <div class="card flex justify-content-center">
        <p-autoComplete [ngModel]="doc_no()"
                        (ngModelChange)="doc_no.set($event)"
                        [suggestions]="suggestions"
                        (completeMethod)="search($event)"
                        (onSelect)="selectDemand($event)">
        </p-autoComplete>
    </div>

    <!--Calendar-->
    <div class="flex mt-2">
        <label>
            Boshlanadi
            <div class="card ">
                <p-calendar [(ngModel)]="start_at" [showIcon]="true"></p-calendar>
            </div>
        </label>
        <label class="ml-2">
            Tugallanadi
            <div class="card mb-2">
                <p-calendar [(ngModel)]="finish_at" [showIcon]="true"></p-calendar>
            </div>
        </label>
    </div>


    <!--  Table  -->
    <div class="mt-2">
        <p-table [value]="demandFurnitures" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Mebel</th>
                    <th>Buyurtmaning Izohi</th>
                    <th>Rang,Derevo</th>
                    <th>Soni</th>
                    <th>Nechta chiqaramiz</th>
                    <th>izoh</th>
                    <th>xarita</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>{{row.furniture}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.color}}, {{row.tree_id}}</td>
                    <td>{{row.amount}}</td>
                    <td>
                        <p-inputNumber [(ngModel)]="row.productionAmount" [disabled]="!row.map?.id"></p-inputNumber>
                    </td>
                    <td>
                        <textarea rows="1" pInputTextarea
                                  [(ngModel)]="row.productionDescription"
                                  [disabled]="!row.map?.id"
                        ></textarea>
                    </td>
                    <td>{{row.map?.id ? 'Versiya: ' + row.map.version : 'mavjud emas'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="mt-4 ">
        <p-button (click)="submit()" label="Qo'shish"></p-button>
    </div>

</p-dialog>








