<div class="flex flex-col flex-auto min-w-0">

    <div class="flex flex-row grid-rows-2 justify-between pt-5">

    <div class="flex-auto pl-20">
        <h1 class="text-2xl font-bold">Цех: Сборка 2</h1>
    </div>

    <div class="flex-auto ">
        <h1 class="text-2xl font-bold">Bugungi summa: 4 500 000 so'm</h1>
    </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

            <div class="flex gap-4 grid-flow-col grid-rows-2">

                <div class="">
                    <h1 class="text-2xl font-bold">Qabul qilib olish</h1>
                    <todo-table>
                    </todo-table>
                </div>

                <div class="">
                    <h1 class="text-2xl font-bold">Qilinish kerak</h1>
                    <todo-table>
                    </todo-table>
                </div>

                <div class="row-span-2">
                    <h1 class="text-2xl font-bold">Bajarildi</h1>
                    <todo-table>
                    </todo-table>
                </div>
            </div>

        </div>

    </div>

</div>
