.p-inputtext {
    padding: 0 !important;
    width: 100% !important;
}

//:host ::ng-deep .p-cell-editing {
//    padding-top: 0 !important;
//    padding-bottom: 0 !important;
//}


//:host ::ng-deep p-table {
//    .p-datatable-wrapper {
//        min-height: 280px !important;
//    }
//}

::ng-deep  .p-dropdown-filter {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

