<div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Mebel qismlari sehlarda harakatlanish xaritasi</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

        </div>
    </div>

    <!-- Main -->

    <!--    <map-filter-mui></map-filter-mui>-->

    <map-filter-kui (mapIdChange)="map_id$.next($event)"></map-filter-kui>

    <div class="grid grid-cols-8 mt-6 gap-12 mx-4">

        <div class="col-span-3">
            <map-units [map_id]="map_id$ | async"></map-units>
        </div>

        <div class="col-span-5">
            <h1>Qadamlar</h1>

            <map-steps [units]="units$ | async" [sehs]="sehs$ | async"></map-steps>
        </div>

    </div>
</div>
