<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-2xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Mebel seh xaritasi</h2>
                <div class="font-medium tracking-tight text-secondary">Mebel qismlari sehlarda harakatlanish xaritasi
                </div>
            </div>
            <div class="flex items-center ml-6">

            </div>
        </div>

        <!-- Main -->
        <div class="w-full mt-8">

            <!--    <map-filter-mui></map-filter-mui>-->

            <div class="flex mt-2 gap-6">

                <map-filter class="grow" (mapIdChange)="map_id$.next($event)"></map-filter>

                <div class="w-12"></div>

                <div class="w-48">
                    <div class="form-group">
                        <label for="filter-cost">Ish haqqi, sum</label>
                        <p-inputNumber
                            [ngModel]="cost$ | async"
                            (ngModelChange)="changeCost($event)"
                            [ngModelOptions]="{updateOn: 'blur'}"
                            mode="decimal"
                            locale="ru"
                            [min]="0"
                            [maxFractionDigits]="0"
                            [style]="{'width':'100%'}"
                            inputId="filter-cost"
                        >
                            <!--                (ngModelChange)="cost$.next($event)"-->

                        </p-inputNumber>
                    </div>
                </div>

                <div class="w-28">
                    <div class="pt-5">
                        <button mat-fab extended color="warn" (click)="save()" [disabled]="saved$ | async">
                            <mat-icon>save</mat-icon>
                            Saqlash
                        </button>
                    </div>
                </div>
            </div>

            <!--    <map-filter-kui (mapIdChange)="map_id$.next($event)"></map-filter-kui>-->

            <div class="grid grid-cols-8 mt-6 gap-6">

                <div class="lg:col-span-3 md:col-span-6 sm:col-span-8">
                    <map-units [tips]="tips" [map_id]="map_id$ | async"></map-units>
                </div>

                <div class="lg:col-span-5 col-span-8">
                    <map-steps [sehs]="sehs" [tips]="tips"></map-steps>
                </div>

            </div>
        </div>
    </div>
</div>
